extends layout

block content
    // END nav
    section.home-slider.owl-carousel
      .slider-item(style="background-image: url('images/bg_1.jpg');", data-stellar-background-ratio='0.5')
        .overlay
        .container
          .row.slider-text.align-items-end
            .col-md-10.col-sm-12.ftco-animate.mb-4
              p.breadcrumbs
                span.mr-2
                  a(href='index.html') Home
                span.mr-2
                  a(href='blog.html') Blog
                span Single Blog
              h1.mb-3 Single Blog
    section.ftco-section
      .container
        .row
          .col-md-8.ftco-animate
            h2.mb-3 #1. We Love WordPress Themes
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis, enim praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.
            p
              img.img-fluid(src='images/image_6.jpg', alt='')
            p
              | Molestiae cupiditate inventore animi, maxime sapiente optio, illo est nemo veritatis repellat sunt doloribus nesciunt! Minima laborum magni reiciendis qui voluptate quisquam voluptatem soluta illo eum ullam incidunt rem assumenda eveniet eaque sequi deleniti tenetur dolore amet fugit perspiciatis ipsa, odit. Nesciunt dolor minima esse vero ut ea, repudiandae suscipit!
            h2.mb-3.mt-5 #2. Creative WordPress Themes
            p
              | Temporibus ad error suscipit exercitationem hic molestiae totam obcaecati rerum, eius aut, in. Exercitationem atque quidem tempora maiores ex architecto voluptatum aut officia doloremque. Error dolore voluptas, omnis molestias odio dignissimos culpa ex earum nisi consequatur quos odit quasi repellat qui officiis reiciendis incidunt hic non? Debitis commodi aut, adipisci.
            p
              img.img-fluid(src='images/image_8.jpg', alt='')
            p
              | Quisquam esse aliquam fuga distinctio, quidem delectus veritatis reiciendis. Nihil explicabo quod, est eos ipsum. Unde aut non tenetur tempore, nisi culpa voluptate maiores officiis quis vel ab consectetur suscipit veritatis nulla quos quia aspernatur perferendis, libero sint. Error, velit, porro. Deserunt minus, quibusdam iste enim veniam, modi rem maiores.
            p
              | Odit voluptatibus, eveniet vel nihil cum ullam dolores laborum, quo velit commodi rerum eum quidem pariatur! Quia fuga iste tenetur, ipsa vel nisi in dolorum consequatur, veritatis porro explicabo soluta commodi libero voluptatem similique id quidem? Blanditiis voluptates aperiam non magni. Reprehenderit nobis odit inventore, quia laboriosam harum excepturi ea.
            p
              | Adipisci vero culpa, eius nobis soluta. Dolore, maxime ullam ipsam quidem, dolor distinctio similique asperiores voluptas enim, exercitationem ratione aut adipisci modi quod quibusdam iusto, voluptates beatae iure nemo itaque laborum. Consequuntur et pariatur totam fuga eligendi vero dolorum provident. Voluptatibus, veritatis. Beatae numquam nam ab voluptatibus culpa, tenetur recusandae!
            p
              | Voluptas dolores dignissimos dolorum temporibus, autem aliquam ducimus at officia adipisci quasi nemo a perspiciatis provident magni laboriosam repudiandae iure iusto commodi debitis est blanditiis alias laborum sint dolore. Dolores, iure, reprehenderit. Error provident, pariatur cupiditate soluta doloremque aut ratione. Harum voluptates mollitia illo minus praesentium, rerum ipsa debitis, inventore?
            .tag-widget.post-tag-container.mb-5.mt-5
              .tagcloud
                a.tag-cloud-link(href='#') Life
                a.tag-cloud-link(href='#') Sport
                a.tag-cloud-link(href='#') Tech
                a.tag-cloud-link(href='#') Travel
            .about-author.d-flex.p-5.bg-light
              .bio.align-self-md-center.mr-5
                img.img-fluid.mb-4(src='images/person_1.jpg', alt='Image placeholder')
              .desc.align-self-md-center
                h3 Lance Smith
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!
            .pt-5.mt-5
              h3.mb-5 6 Comments
              ul.comment-list
                li.comment
                  .vcard.bio
                    img(src='images/person_1.jpg', alt='Image placeholder')
                  .comment-body
                    h3 Jean Doe
                    .meta June 27, 2018 at 2:21pm
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                    p
                      a.reply(href='#') Reply
                li.comment
                  .vcard.bio
                    img(src='images/person_1.jpg', alt='Image placeholder')
                  .comment-body
                    h3 Jean Doe
                    .meta June 27, 2018 at 2:21pm
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                    p
                      a.reply(href='#') Reply
                  ul.children
                    li.comment
                      .vcard.bio
                        img(src='images/person_1.jpg', alt='Image placeholder')
                      .comment-body
                        h3 Jean Doe
                        .meta June 27, 2018 at 2:21pm
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                        p
                          a.reply(href='#') Reply
                      ul.children
                        li.comment
                          .vcard.bio
                            img(src='images/person_1.jpg', alt='Image placeholder')
                          .comment-body
                            h3 Jean Doe
                            .meta June 27, 2018 at 2:21pm
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                            p
                              a.reply(href='#') Reply
                          ul.children
                            li.comment
                              .vcard.bio
                                img(src='images/person_1.jpg', alt='Image placeholder')
                              .comment-body
                                h3 Jean Doe
                                .meta June 27, 2018 at 2:21pm
                                p
                                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                                p
                                  a.reply(href='#') Reply
                li.comment
                  .vcard.bio
                    img(src='images/person_1.jpg', alt='Image placeholder')
                  .comment-body
                    h3 Jean Doe
                    .meta June 27, 2018 at 2:21pm
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?
                    p
                      a.reply(href='#') Reply
              // END comment-list
              .comment-form-wrap.pt-5
                h3.mb-5 Leave a comment
                form.p-5.bg-light(action='#')
                  .form-group
                    label(for='name') Name *
                    input#name.form-control(type='text')
                  .form-group
                    label(for='email') Email *
                    input#email.form-control(type='email')
                  .form-group
                    label(for='website') Website
                    input#website.form-control(type='url')
                  .form-group
                    label(for='message') Message
                    textarea#message.form-control(name='', cols='30', rows='10')
                  .form-group
                    input.btn.py-3.px-4.btn-primary(type='submit', value='Post Comment')
          // .col-md-8
          .col-md-4.sidebar
            .sidebar-box
              form.search-form(action='#')
                .form-group
                  span.icon.fa.fa-search
                  input.form-control(type='text', placeholder='Type a keyword and hit enter')
            .sidebar-box.ftco-animate
              .categories
                h3 Categories
                li
                  a(href='#')
                    | Food 
                    span (12)
                li
                  a(href='#')
                    | Dish 
                    span (22)
                li
                  a(href='#')
                    | Desserts 
                    span (37)
                li
                  a(href='#')
                    | Drinks 
                    span (42)
                li
                  a(href='#')
                    | Ocassion 
                    span (14)
            .sidebar-box.ftco-animate
              h3 Recent Blog
              .block-21.mb-4.d-flex
                a.blog-img.mr-4(style='background-image: url(images/image_1.jpg);')
                .text
                  h3.heading
                    a(href='#') Even the all-powerful Pointing has no control about the blind texts
                  .meta
                    div
                      a(href='#')
                        span.icon-calendar
                        |  July 12, 2018
                    div
                      a(href='#')
                        span.icon-person
                        |  Admin
                    div
                      a(href='#')
                        span.icon-chat
                        |  19
              .block-21.mb-4.d-flex
                a.blog-img.mr-4(style='background-image: url(images/image_2.jpg);')
                .text
                  h3.heading
                    a(href='#') Even the all-powerful Pointing has no control about the blind texts
                  .meta
                    div
                      a(href='#')
                        span.icon-calendar
                        |  July 12, 2018
                    div
                      a(href='#')
                        span.icon-person
                        |  Admin
                    div
                      a(href='#')
                        span.icon-chat
                        |  19
              .block-21.mb-4.d-flex
                a.blog-img.mr-4(style='background-image: url(images/image_3.jpg);')
                .text
                  h3.heading
                    a(href='#') Even the all-powerful Pointing has no control about the blind texts
                  .meta
                    div
                      a(href='#')
                        span.icon-calendar
                        |  July 12, 2018
                    div
                      a(href='#')
                        span.icon-person
                        |  Admin
                    div
                      a(href='#')
                        span.icon-chat
                        |  19
            .sidebar-box.ftco-animate
              h3 Tag Cloud
              .tagcloud
                a.tag-cloud-link(href='#') dish
                a.tag-cloud-link(href='#') menu
                a.tag-cloud-link(href='#') food
                a.tag-cloud-link(href='#') sweet
                a.tag-cloud-link(href='#') tasty
                a.tag-cloud-link(href='#') delicious
                a.tag-cloud-link(href='#') desserts
                a.tag-cloud-link(href='#') drinks
            .sidebar-box.ftco-animate
              h3 Paragraph
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!
    // .section
   