extends layout

block content
    // END nav
    section.home-slider.owl-carousel
      .slider-item(style="background-image: url('images/bg_1.jpg');")
        .overlay
        .container
          .row.slider-text.align-items-center.justify-content-start
            .col-md-6.col-sm-12.ftco-animate
              h1.mb-4 Welcome to Cozy the paradize near the blue sea
              p
                a.btn.btn-primary.btn-outline-white.px-4.py-3.popup-vimeo(href='https://vimeo.com/45830194')
                  span.ion-ios-play.mr-2
                  |  Watch Video
      .slider-item(style="background-image: url('images/bg_2.jpg');")
        .overlay
        .container
          .row.slider-text.align-items-center.justify-content-start
            .col-md-6.col-sm-12.ftco-animate
              h1.mb-4 Book the perfect accomodations without breaking the bank
              p
                a.btn.btn-primary.btn-outline-white.px-4.py-3.popup-vimeo(href='https://vimeo.com/45830194')
                  span.ion-ios-play.mr-2
                  |  Watch Video
      .slider-item(style="background-image: url('images/bg_3.jpg');")
        .overlay
        .container
          .row.slider-text.align-items-center.justify-content-start
            .col-md-6.col-sm-12.ftco-animate
              h1.mb-4 Lets go to discovering
              p
                a.btn.btn-primary.btn-outline-white.px-4.py-3.popup-vimeo(href='https://vimeo.com/45830194')
                  span.ion-ios-play.mr-2
                  |  Watch Video
    // END slider
    .ftco-section-reservation
      .container
        .row.justify-content-end.ftco-animate
          .col-lg-4.col-md-5.reservation.p-md-5
            .block-17
              form.d-block(action='', method='post')
                .fields.d-block
                  .book-date.one-third
                    label(for='check-in') Check in:
                    input#checkin_date.form-control(type='text', placeholder='M/D/YYYY')
                  .book-date.one-third
                    label(for='check-out') Check out:
                    input#checkout_date.form-control(type='text', placeholder='M/D/YYYY')
                  .one-third
                    label(for='Guest') Guest:
                    .select-wrap
                      .icon
                        span.ion-ios-arrow-down
                      select.form-control(name='', id='')
                        option(value='') 1
                        option(value='') 2
                        option(value='') 3
                        option(value='') 4+
                input.search-submit.btn.btn-primary(type='submit', value='Check Availability')
    section.services.bg-light
      .container
        .row.no-gutters
          .col-md-4.ftco-animate.py-5.nav-link-wrap.aside-stretch
            #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
              a#v-pills-master-tab.nav-link.px-4.active(data-toggle='pill', href='#v-pills-master', role='tab', aria-controls='v-pills-master', aria-selected='true')
                span.mr-3.flaticon-bed
                |  Master Bedrooms
              a#v-pills-buffet-tab.nav-link.px-4(data-toggle='pill', href='#v-pills-buffet', role='tab', aria-controls='v-pills-buffet', aria-selected='false')
                span.mr-3.flaticon-tray
                |  Breakfast Buffet
              a#v-pills-fitness-tab.nav-link.px-4(data-toggle='pill', href='#v-pills-fitness', role='tab', aria-controls='v-pills-fitness', aria-selected='false')
                span.mr-3.flaticon-woman
                |  Fitness Center
              a#v-pills-reception-tab.nav-link.px-4(data-toggle='pill', href='#v-pills-reception', role='tab', aria-controls='v-pills-reception', aria-selected='false')
                span.mr-3.flaticon-receptionist
                |  24 Hour Reception
              a#v-pills-sea-tab.nav-link.px-4(data-toggle='pill', href='#v-pills-sea', role='tab', aria-controls='v-pills-sea', aria-selected='false')
                span.mr-3.flaticon-deck-chair
                |  Sea View Balcony
              a#v-pills-spa-tab.nav-link.px-4(data-toggle='pill', href='#v-pills-spa', role='tab', aria-controls='v-pills-spa', aria-selected='false')
                span.mr-3.flaticon-spa
                |  Pool & Spa
              a#v-pills-wifi-tab.nav-link.px-4(data-toggle='pill', href='#v-pills-wifi', role='tab', aria-controls='v-pills-wifi', aria-selected='false')
                span.mr-3.flaticon-wifi-router
                |  Free wifi
              a#v-pills-resto-tab.nav-link.px-4(data-toggle='pill', href='#v-pills-resto', role='tab', aria-controls='v-pills-resto', aria-selected='false')
                span.mr-3.flaticon-disco-ball
                |  Resto bar
          .col-md-8.ftco-animate.p-4.p-md-5.d-flex.align-items-center
            #v-pills-tabContent.tab-content.pl-md-5
              #v-pills-master.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-master-tab')
                span.icon.mb-3.d-block.flaticon-bed
                h2.mb-4 Master Bedrooms
                p.lead
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur
                p
                  | Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.
                p
                  a.btn.btn-primary(href='#') Learn More
              #v-pills-buffet.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-buffet-tab')
                span.icon.mb-3.d-block.flaticon-tray
                h2.mb-4 Breakfast Buffet
                p.lead
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur
                p
                  | Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.
                p
                  a.btn.btn-primary(href='#') Learn More
              #v-pills-fitness.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-fitness-tab')
                span.icon.mb-3.d-block.flaticon-woman
                h2.mb-4 Fitness Center
                p.lead
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur
                p
                  | Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.
                p
                  a.btn.btn-primary(href='#') Learn More
              #v-pills-reception.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-reception-tab')
                span.icon.mb-3.d-block.flaticon-receptionist
                h2.mb-4 24 Hours Reception
                p.lead
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur
                p
                  | Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.
                p
                  a.btn.btn-primary(href='#') Learn More
              #v-pills-sea.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-sea-tab')
                span.icon.mb-3.d-block.flaticon-deck-chair
                h2.mb-4 Sea view balcony
                p.lead
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur
                p
                  | Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.
                p
                  a.btn.btn-primary(href='#') Learn More
              #v-pills-spa.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-spa-tab')
                span.icon.mb-3.d-block.flaticon-spa
                h2.mb-4 Pool & Spa
                p.lead
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur
                p
                  | Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.
                p
                  a.btn.btn-primary(href='#') Learn More
              #v-pills-wifi.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-wifi-tab')
                span.icon.mb-3.d-block.flaticon-wifi-router
                h2.mb-4 Free wifi coverage
                p.lead
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur
                p
                  | Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.
                p
                  a.btn.btn-primary(href='#') Learn More
              #v-pills-resto.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-resto-tab')
                span.icon.mb-3.d-block.flaticon-wifi-dico-ball
                h2.mb-4 Restaurant & Bar
                p.lead
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur
                p
                  | Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.
                p
                  a.btn.btn-primary(href='#') Learn More
    section.ftco-section.room-section
      .container
        .row.justify-content-center.mb-5.pb-5
          .col-md-7.text-center.heading-section.ftco-animate
            span.subheading Our Rooms
            h2 Explore our rooms
        .row
          .col-md-12.ftco-animate
            .carousel-room.owl-carousel
              .item
                .room-wrap
                  a.room-img(href='#', style='background-image: url(images/room-1.jpg);')
                  .text.p-4
                    .d-flex.mb-1
                      .one-third
                        p.star-rate
                          span.icon-star
                          span.icon-star
                          span.icon-star
                          span.icon-star
                          span.icon-star-half-full
                        h3
                          a(href='#') Double Room
                      .one-forth.text-center
                        p.price
                          | $99 
                          br
                          span /night
                    p.features
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Perfect for traveling couples
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Breakfast included
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Two double beds
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Baby sitting facilities
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Free wifi
                    p
                      a.btn.btn-primary(href='#') Reserve a room
              .item
                .room-wrap
                  a.room-img(href='#', style='background-image: url(images/room-2.jpg);')
                  .text.p-4
                    .d-flex.mb-1
                      .one-third
                        p.star-rate
                          span.icon-star
                          span.icon-star
                          span.icon-star
                          span.icon-star
                          span.icon-star-half-full
                        h3
                          a(href='#') Family Room
                      .one-forth.text-center
                        p.price
                          | $99 
                          br
                          span /night
                    p.features
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Perfect for traveling couples
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Breakfast included
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Two double beds
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Baby sitting facilities
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Free wifi
                    p
                      a.btn.btn-primary(href='#') Reserve a room
              .item
                .room-wrap
                  a.room-img(href='#', style='background-image: url(images/room-3.jpg);')
                  .text.p-4
                    .d-flex.mb-1
                      .one-third
                        p.star-rate
                          span.icon-star
                          span.icon-star
                          span.icon-star
                          span.icon-star
                          span.icon-star-half-full
                        h3
                          a(href='#') Deluxe Room
                      .one-forth.text-center
                        p.price
                          | $99 
                          br
                          span /night
                    p.features
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Perfect for traveling couples
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Breakfast included
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Two double beds
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Baby sitting facilities
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Free wifi
                    p
                      a.btn.btn-primary(href='#') Reserve a room
              .item
                .room-wrap
                  a.room-img(href='#', style='background-image: url(images/room-4.jpg);')
                  .text.p-4
                    .d-flex.mb-1
                      .one-third
                        p.star-rate
                          span.icon-star
                          span.icon-star
                          span.icon-star
                          span.icon-star
                          span.icon-star-half-full
                        h3
                          a(href='#') Suite Room
                      .one-forth.text-center
                        p.price
                          | $99 
                          br
                          span /night
                    p.features
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Perfect for traveling couples
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Breakfast included
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Two double beds
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Baby sitting facilities
                      span.d-block.mb-2
                        i.icon-check.mr-2
                        |  Free wifi
                    p
                      a.btn.btn-primary(href='#') Reserve a room
    section.ftco-section-parallax
      .parallax-img.d-flex.align-items-md-center.align-items-sm-end(style="background-image: url('images/bg_4.jpg');", data-stellar-background-ratio='0.5')
        .overlay
        .container
          .row.desc.d-flex.justify-content-center
            .col-md-7.text-center.heading-section.heading-section-white.ftco-animate
              span.subheading Our Conference
              h2.h1.font-weight-bold Conference Centre
              p
                a.btn.btn-primary.btn-outline-white.mt-3.py-3.px-4(href='#') View more details
    section.ftco-section.bg-light
      .container
        .row.justify-content-center.mb-5.pb-5
          .col-md-7.text-center.heading-section.ftco-animate
            span.subheading Our Menu
            h2 Restaurant & Bar
        .row
          .col-md-12.dish-menu
            #v-pills-tab.nav.nav-pills.justify-content-center.ftco-animate(role='tablist', aria-orientation='vertical')
              a#v-pills-home-tab.nav-link.py-3.px-4.active(data-toggle='pill', href='#v-pills-home', role='tab', aria-controls='v-pills-home', aria-selected='true')
                span.flaticon-tray
                |  Main
              a#v-pills-profile-tab.nav-link.py-3.px-4(data-toggle='pill', href='#v-pills-profile', role='tab', aria-controls='v-pills-profile', aria-selected='false')
                span.flaticon-beer
                |  Dessert
              a#v-pills-messages-tab.nav-link.py-3.px-4(data-toggle='pill', href='#v-pills-messages', role='tab', aria-controls='v-pills-messages', aria-selected='false')
                span.flaticon-cheers
                |  Drinks
            #v-pills-tabContent.tab-content.py-5
              #v-pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-home-tab')
                .row
                  .col-lg-6
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dish-3.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Grilled Beef with potatoes
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dish-4.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Fruit Vanilla Ice Cream
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dish-5.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Asian Hoisin Pork
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dish-6.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Spicy Fried Rice & Bacon
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dish-7.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Mango Chili Chutney
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                  .col-lg-6
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dish-8.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Savory Watercress Chinese Pancakes
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dish-9.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Soup With Vegetables And Meat
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dish-10.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Udon Noodles With Vegetables
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dish-11.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Baked Lobster With A Garnish
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dish-8.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Octopus with Vegetables
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
              // END
              #v-pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-profile-tab')
                .row
                  .col-lg-6
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dessert-1.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Grilled Beef with potatoes
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dessert-2.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Grilled Beef with potatoes
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dessert-3.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Grilled Beef with potatoes
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dessert-4.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Grilled Beef with potatoes
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dessert-5.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Grilled Beef with potatoes
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                  .col-lg-6
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dessert-6.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Tiramisu
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dessert-7.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Chocolate Cream
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dessert-8.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Pizza Pie
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dessert-9.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Sicilian Ricotta
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/dessert-10.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Mango FLoat
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
              // END
              #v-pills-messages.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-messages-tab')
                .row
                  .col-lg-6
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/drink-1.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Lemon Juice
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/drink-2.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Guava Juice
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/drink-3.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Sprite
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/drink-4.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Cola
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/drink-5.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Wine
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                  .col-lg-6
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/drink-6.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Beer
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/drink-7.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Mango Juice
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/drink-8.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Apple Juice
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/drink-9.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Strawberry Juice
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
                    .menus.d-flex.ftco-animate
                      .menu-img(style='background-image: url(images/drink-10.jpg);')
                      .text.d-flex
                        .one-half
                          h3 Orange Juice
                          p
                            span Meat
                            | , 
                            span Potatoes
                            | , 
                            span Rice
                            | , 
                            span Tomatoe
                        .one-forth
                          span.price $29
    section.ftco-section.testimony-section
      .container
        .row.justify-content-center.mb-5.pb-5
          .col-md-7.text-center.heading-section.ftco-animate
            span.subheading Guests Says
            h2 Our Satisfied Guests says
        .row.ftco-animate
          .col-md-12
            .carousel.owl-carousel.ftco-owl
              .item.text-center
                .testimony-wrap.p-4.pb-5
                  .user-img.mb-4(style='background-image: url(images/person_1.jpg)')
                    span.quote.d-flex.align-items-center.justify-content-center
                      i.icon-quote-left
                  .text
                    p.star-rate
                      span.icon-star
                      span.icon-star
                      span.icon-star
                      span.icon-star
                      span.icon-star-half-full
                    p.mb-5
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    p.name Dennis Green
                    span.position Guests from Italy
              .item.text-center
                .testimony-wrap.p-4.pb-5
                  .user-img.mb-4(style='background-image: url(images/person_2.jpg)')
                    span.quote.d-flex.align-items-center.justify-content-center
                      i.icon-quote-left
                  .text
                    p.star-rate
                      span.icon-star
                      span.icon-star
                      span.icon-star
                      span.icon-star
                      span.icon-star-half-full
                    p.mb-5
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    p.name Dennis Green
                    span.position Guests from Italy
              .item.text-center
                .testimony-wrap.p-4.pb-5
                  .user-img.mb-4(style='background-image: url(images/person_3.jpg)')
                    span.quote.d-flex.align-items-center.justify-content-center
                      i.icon-quote-left
                  .text
                    p.star-rate
                      span.icon-star
                      span.icon-star
                      span.icon-star
                      span.icon-star
                      span.icon-star-half-full
                    p.mb-5
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    p.name Dennis Green
                    span.position Guests from Italy
              .item.text-center
                .testimony-wrap.p-4.pb-5
                  .user-img.mb-4(style='background-image: url(images/person_1.jpg)')
                    span.quote.d-flex.align-items-center.justify-content-center
                      i.icon-quote-left
                  .text
                    p.star-rate
                      span.icon-star
                      span.icon-star
                      span.icon-star
                      span.icon-star
                      span.icon-star-half-full
                    p.mb-5
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    p.name Dennis Green
                    span.position Guests from Italy
              .item.text-center
                .testimony-wrap.p-4.pb-5
                  .user-img.mb-4(style='background-image: url(images/person_1.jpg)')
                    span.quote.d-flex.align-items-center.justify-content-center
                      i.icon-quote-left
                  .text
                    p.star-rate
                      span.icon-star
                      span.icon-star
                      span.icon-star
                      span.icon-star
                      span.icon-star-half-full
                    p.mb-5
                      | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    p.name Dennis Green
                    span.position Guests from Italy
    section.ftco-section.bg-light
      .container
        .row.justify-content-center.mb-5.pb-5
          .col-md-7.text-center.heading-section.ftco-animate
            span.subheading Blog
            h2 Recent Blog
        .row.ftco-animate
          .carousel1.owl-carousel.ftco-owl
            .item
              .blog-entry
                a.block-20(href='blog-single.html', style="background-image: url('images/image_5.jpg');")
                .text.p-4.d-block
                  h3.heading
                    a(href='#') Even the all-powerful Pointing has no control about the blind texts
                  .meta
                    div
                      a(href='#') July 12, 2018
                    div
                      a(href='#') Admin
                    div
                      a.meta-chat(href='#')
                        span.icon-chat
                        |  3
            .item
              .blog-entry(data-aos-delay='100')
                a.block-20(href='blog-single.html', style="background-image: url('images/image_6.jpg');")
                .text.p-4
                  h3.heading
                    a(href='#') Even the all-powerful Pointing has no control about the blind texts
                  .meta
                    div
                      a(href='#') July 12, 2018
                    div
                      a(href='#') Admin
                    div
                      a.meta-chat(href='#')
                        span.icon-chat
                        |  3
            .item
              .blog-entry(data-aos-delay='200')
                a.block-20(href='blog-single.html', style="background-image: url('images/image_7.jpg');")
                .text.p-4
                  h3.heading
                    a(href='#') Even the all-powerful Pointing has no control about the blind texts
                  .meta
                    div
                      a(href='#') July 12, 2018
                    div
                      a(href='#') Admin
                    div
                      a.meta-chat(href='#')
                        span.icon-chat
                        |  3
            .item
              .blog-entry(data-aos-delay='200')
                a.block-20(href='blog-single.html', style="background-image: url('images/image_8.jpg');")
                .text.p-4
                  h3.heading
                    a(href='#') Even the all-powerful Pointing has no control about the blind texts
                  .meta
                    div
                      a(href='#') July 12, 2018
                    div
                      a(href='#') Admin
                    div
                      a.meta-chat(href='#')
                        span.icon-chat
                        |  3
            .item
              .blog-entry(data-aos-delay='200')
                a.block-20(href='blog-single.html', style="background-image: url('images/image_9.jpg');")
                .text.p-4
                  h3.heading
                    a(href='#') Even the all-powerful Pointing has no control about the blind texts
                  .meta
                    div
                      a(href='#') July 12, 2018
                    div
                      a(href='#') Admin
                    div
                      a.meta-chat(href='#')
                        span.icon-chat
                        |  3
    section.ftco-section.bg-light
      .container-fluid.section-event
        .row.no-gutters.justify-content-center.mb-5.pb-5
          .col-md-7.text-center.heading-section.ftco-animate
            span.subheading Join Event
            h2 Our Events
        .row.d-flex.no-gutters
          .col-md-6.event-big-img(style='background-image: url(images/event.jpg);')
          .col-md-6.event-wrap
            .event.mb-5.ftco-animate
              .text
                p.meta.p-2.text-center
                  span.day 12
                  span.mos July
                  span.year 2018
                h3
                  a(href='event.html') Big summer meetups
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts
                p
                  a.btn.btn-primary(href='#') Join event
                  a.btn.btn-primary.btn-outline-primary(href='#') See details
            .event.mb-5.ftco-animate
              .text
                p.meta.p-2.text-center
                  span.day 12
                  span.mos July
                  span.year 2018
                h3
                  a(href='event.html') Big summer meetups
                p
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts
                p
                  a.btn.btn-primary(href='#') Join event
                  a.btn.btn-primary.btn-outline-primary(href='#') See details
    